

header ul {
    width: 100%;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #333;
    
}

header h1 {
    text-align: center;
    background-color: white;
}

header li {
   float: left;
   width: 13%;
   padding: .5% 3%;
}

li a {
    display: flex;
    flex-grow: 1;
    color: white;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
}
 a:hover {
    color: orangered;
}


nav a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color:#4CAF50;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: olivedrab;
}

main {
    background-color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

main ul {
    list-style: none;
}

main li {
    float: left;
    clear: left;
}

label {
    margin-right: 10px;
    float: left;
    clear: left;
}

div {
    clear: both;
}

footer {
    text-align: center;
    background-color: white;
}
